{% extends 'base.html' %}
{% block content %}

<h1>Login</h1>
{% with message = get_flashed_messages() %}
  {% if message %}
    <ul class=flashes>
      <li>{{ message }}</li>
    </ul>
  {% endif %}
{% endwith %}

<form method="post">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
        {{field.label}}
        <div>{{field}}</div>
    {% endfor %}
    <button type="submit">Login</button>
</form>
<a href="/register">Haven't made an account yet? Register here -></a>

{% endblock %}